.cards {
    margin: 0 40px;
}

.card_header {
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: 700;
    /* font-size: 20px; */
}
.card_header h2 {
    font-weight: 700;
}

.card_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-bottom: 10px; */
    width: 90%;
    margin-left: 5vw;
}

.card1 {
    background-color: #dfdada;
    width: 200px;
    height: 240px;
    margin-bottom: 30px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.card1 img{
    width: 80px;
    height: 120px;
    margin-top: 40px;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-right: 10px;
    margin-left: 10px;
}

.price {
    color: red;
}

.view_btn_div{
    display: flex;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 20px;
}

.view_btn {
    background-color: #f16179;
    padding: 5px 25px;
    border-radius: 5px;
    color: white;
    border: 1px solid #f16179;
    font-size: 14px;
    margin: 10px;
}

.view_btn:hover {
    background-color: white;
    color: #f16179;
}

.add_to_cart {
    background-color: #f16179;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    border: 1px solid #f16179;
    font-size: 10px;
}

.add_to_cart:hover {
    background-color: white;
    color: #f16179;
}

.showCartbtn {
    background-color: #f16179;
    padding: 5px 25px;
    border-radius: 5px;
    color: white;
    border: 1px solid #f16179;
    font-size: 14px;
    margin: 10px;
  }
  
  .showCartbtn:hover {
    background-color: white;
    color: #f16179;
  }


@media screen and (max-width: 768px) {
    .card_body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* margin-bottom: 30px; */
        /* width: 100vw; */
        /* margin-left: -5.2vw; */
        /* margin: 10px 15px; */
       margin: 0px 0px 0px 15px;
        box-sizing: border-box;
    }
    .card1 {
        background-color: #dfdada;
        width: 330px;
        height: 240px;
        margin-bottom: 30px;
    }
    .description {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }
    .add_to_cart {
        background-color: #f16179;
        padding: 5px 15px;
        border-radius: 5px;
        color: white;
        border: 1px solid #f16179;
        font-size: 10px;
    }
} 
