.header {
    background-color: #f9ece6;
    /* min-height: 50px; */
    margin: 0 40px;
    border-radius: 10px 10px 0 0;
    padding: 12px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    text-align: center;
    width: 70%;
}

ul li {
    color: #685353;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 13px;
    padding: 2px 10px;
    border-radius: 4px;
}
#login {
    text-transform: lowercase;
}
.header_login {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.header ul li a{
    text-decoration: none;
    color: #685353;
}

.header ul li.active {
    background-color: #fff; 
  }

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text */
        padding: 12px 0; /* Adjust padding for better spacing */
        margin: 0px 15px;
      }
    
      ul {
        width: 100%; /* Full width for small screens */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
      }
    
      ul li {
        margin-bottom: 10px; /* Add space between list items */
        font-size: 16px; /* Increase font size for better readability */
      }
      .header_login {
        width: 120px;
    }
    
} 