.contactContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 40px 30px 40px;
}

.map_container {
    margin-right: 20px;
}

.map_responsive {
    overflow: hidden;
    width: 500px;
    /* height: 600px; */
}

.contactForm {
    width: 500px;
    /* height: 600px; */
}

input {
    margin: 15px 0px;
}

textarea {
    margin: 15px 0px;
}

.contactHeader {
    font-weight: 700;
}

.formButton {
    background-color: #f89cab;
    border: 1px solid #f89cab;
    padding: 7px 30px;
    color: white;
}

.formButton:hover {
    background-color: white;
    border: 1px solid #f89cab;
    color: #f89cab;
}

@media screen and (max-width: 768px) {
    .contactContainer2 {
        flex-direction: column;
/*         margin: 10px 15px 30px 15px; */
        margin: 0;
    }

    .map_container {
        margin-right: 0px;
    }

    .map_responsive {
        width: 350px;
        /* margin-left: 35px; */
    }

    .contactForm {
        width: 100%;
    }

    .contactContainer {
        margin: 10px 15px 30px 15px;
    }

}
