.footer {
    margin: 50px 40px;
    width: 90vw;
    background-color: #2d2d2d;
    color: #fff;
    padding: 30px;
}
.social_icons {
    margin: 20px;
}
.social_icons a{
    margin: 10px;
}
.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_about {
    width: 30%;
    text-align: left;
}
.footer_about h3 {
    font-weight: 600;
}
.footer_about p {
   font-size: 14px;
}
.footer_help {
    width: 30%;
    text-align: left;
}
.footer_help h3{
    font-weight: 600;
}
.footer_help p{
    font-size: 14px;
}
.footer_contact {
    width: 30%;
    text-align: left;
}
.footer_contact h3{
    font-weight: 600;
}
.footer_contact p{
    font-size: 14px;
    margin: 0px;
}

@media screen and (max-width: 768px) {
    .footer {
            /* margin-left: 19px; */
        margin-top: 150px;
        margin: 0;
        width: 100vw;
    }
    .footer_container {
        flex-direction: column;
        align-items: center;
    }
    .footer_about {
        width: 100%;
        text-align: center;
    }
    .footer_about p{
        /* width: 100%; */
        text-align: left;
    }
    .footer_help {
        width: 100%;
        text-align: center;
    }
    .footer_help p{
        /* width: 100%; */
        text-align: left;
    }
    .footer_contact {
        width: 100%;
        text-align: center;
    }
    .footer_contact p{
        /* width: 100%; */
        text-align: left;
    }
    
} 
